*{
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 18px;
  background-color: #f546f7;
  margin: 0;
  padding: 0;
}

.App{
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contenedor-amigurumi{
  display: grid;
  grid-template-areas: 
  "img img"
  "texto texto";
  background-color: aliceblue;
  height: 100%;
  width: 100%;
}

.imagen-amigurumi{
  grid-area: img;
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 250px;

}

.contenedor-texto-amigurumi{
  grid-area: texto;
  justify-self: center;
  align-items: center;
  grid-template-areas: 
  "nombre"
  "dificultad"
  "descripcion"
  "precio";
}

.nombre-amigurumi{
  grid-area: nombre;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}

.dificultad-amigurumi{
  grid-area: dificultad;
  text-align: center;
  font-size: 1.5em;
}

.descripcion-amigurumi{
  grid-area: descripcion;
  text-align: center;
  font-size: 1.5em;
}

.precio-amigurumi{
  grid-area: precio;
  text-align: center;
  font-size: 1.5em;
}